@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ThemeTest.Models.Vehicles
@model VehicleDto
@{
}
<form asp-action="Edit">
        <input type="hidden" asp-for="CarId" />
        <div>
            <label asp-for="Make"></label>
            <input asp-for="Make" />
            <span asp-validation-for="Make"></span>
        </div>
        <div>
            <label asp-for="Model"></label>
            <input asp-for="Model" />
            <span asp-validation-for="Model"></span>
        </div>
        <div>
            <label asp-for="Year"></label>
            <input asp-for="Year" type="number" />
            <span asp-validation-for="Year"></span>
        </div>
        <div>
            <label asp-for="Category"></label>
            <input asp-for="Category" />
            <span asp-validation-for="Category"></span>
        </div>
        <div>
            <label asp-for="PricePerDay"></label>
            <input asp-for="PricePerDay" type="number" step="0.01" />
            <span asp-validation-for="PricePerDay"></span>
        </div>
        <div>
            <label asp-for="Status"></label>
            <input asp-for="Status" />
            <span asp-validation-for="Status"></span>
        </div>
        <button type="submit">Save</button>
    </form>
    <a asp-action="Index">Back to List</a>