<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="icon" href="~/dashboard/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/dashboard/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/dashboard/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/dashboard/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/dashboard/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/dashboard/assets/css/jquery.mCustomScrollbar.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/dashboard/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/dashboard/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/dashboard/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/dashboard/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/dashboard/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/dashboard/assets/js/modernizr/modernizr.js"></script>
    <!-- am chart -->
    <script src="~/dashboard/assets/pages/widget/amchart/amcharts.min.js"></script>
    <script src="~/dashboard/assets/pages/widget/amchart/serial.min.js"></script>
    <!-- Todo js -->
    <script type="text/javascript " src="~/dashboard/assets/pages/todo/todo.js "></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/dashboard/assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="~/dashboard/assets/js/script.js"></script>
    <script type="text/javascript " src="~/dashboard/assets/js/SmoothScroll.js"></script>
    <script src="~/dashboard/assets/js/pcoded.min.js"></script>
    <script src="~/dashboard/assets/js/demo-12.js"></script>
    <script src="~/dashboard/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        var $window = $(window);
        var nav = $('.fixed-button');
        $window.scroll(function () {
            if ($window.scrollTop() >= 200) {
                nav.addClass('active');
            }
            else {
                nav.removeClass('active');
            }
        });
    </script>
</body>
</html>
